[Desktop Entry]
Version=1.0
Type=Application
Name=Tactical Rescue
Exec=/home/admin/Desktop/Ember/run.sh --coral --stream
Icon=camera
Terminal=false
StartupNotify=false
